<!DOCTYPE html>
<html lang="en">
<head>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
</head>
<body>
<h1
        style="
        justify-content: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      "
>
    FORM
</h1>
<form th:action="@{/division/save}" method="post" th:object="${division}">
    <div class="container">
        <div class="form-group">
            <label for="id" class="col-form-label">ID</label>
            <input
                    type="text"
                    class="form-control"
                    id="id"
                    th:field="*{id}"
                    readonly
            />
        </div>
        <div class="form-group col-md-6">
            <label for="Name" class="col-form-label">Name</label>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    th:field="*{name}"
            />
        </div>

        <div class="form-group col-md-6">
            <label for="Region" class="col-form-label">Region</label>
            <select class="form-control" id="region.id" th:field="*{region.id}">
                <option value="0">select option</option>
                <option
                        th:each="region : ${regions}"
                        th:value="${region.id}"
                        th:text="${region.name}"
                ></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a
                class="btn btn-primary"
                style="margin-bottom: 10px; margin-top: 10px; color: azure"
                th:href="@{/division}"
        >
            back</a
        >
    </div>
</form>
</body>
</html>